<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading"> Abonnement <span class="pull-right smenu"><a th:href="@{/}">Accueil <i class="fa fa-arrow-right"></i></a><a th:href="@{/user}">Utilisateurs </a></span></div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-offset-1 col-lg-8">
                         <p  th:text="${' Id :       ' + subscription.subscriptionId}"></p>
                         <p  th:text="${' Type :       ' + subscription.subscriptionType.typeName}"></p>
                         <p th:text="${' user:     '+subscription.user_sub.userName}"></p>
                         <p  th:text="${' Date de début :        ' + subscription.beginningDate}"></p>
                         <p  th:text="${' Date de fin :  ' + subscription.endDate}"></p>
                        <p  th:text="${subscription.subscriptionStatus}==true?'Valider':'Encours'"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>