<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="row">
                <div class="col-sm-offset-3 col-lg-8">
                    <div class="panel-heading"> <span class="smenu"><a th:href="@{/}">Accueil <i class="fa fa-arrow-right"></i></a>
                        <a th:href="@{/media}">Médias </a>
                        <i class="fa fa-arrow-right">Détail</i>
                        </span>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-offset-1 col-lg-8">
                                <p  th:text="${' Titre :        ' + media.mediaTitle}"></p>
                                <p  th:text="${' Description :  ' + media.mediaDescription}"></p>
                                <p  th:text="${' Auteur :       ' + media.mediaAuthor}"></p>
                                <p  th:text="${media.mediaStatus}==true?'Etat : Disponible':'Etat : Indisponoble'"></p>
                               <p>
                                   <a  th:href="@{/media/emprunter(id=${media.mediaId})}"><button class="bg-primary">Emprunter</button></a>
                               </p>

                            </div>
                        </div>
                    </div>
                </div>
             </div>
         </div>
    </div>
</div>