
<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
               Listes Des Emprunts
                <a sec:authorize="hasAnyRole('ROLE_EMPLOYE','ROLE_ADMIN')" th:href="@{/media/add}"><button class="btn btn-primary pull-right">Ajouter un Media</button></a>

            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                        <tr>
                            <th>Nom du client</th>
                            <th>Titre du Média</th>
                            <th>Type du Media</th>
                            <th>Date d'emprunt</th>
                            <th>Date de retour</th>
                            <th>Retour</th>
                            <th sec:authorize="hasAnyRole('ROLE_EMPLOYE','ROLE_ADMIN')">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <span  th:each="emprunt : ${emprunts}">
                            <tr th:each="empruntUser : ${emprunt}">
                                <td><a href=""><span th:text="${empruntUser.user.userName}"></span></a></td>
                                <td><span th:text="${empruntUser.media.mediaTitle}"></span></td>
                                <td><span th:text="${empruntUser.media.mediaType.typeName}"></span></td>
                                <td><span th:text="${empruntUser.borrowingDate}"></span></td>
                                <td><span th:text="${empruntUser.returnDate}"></span></td>
                                <td><button class="btn btn-default " th:onclick="'retourMedia(\''+${empruntUser.user.userId} + '\',\''+ ${empruntUser.media.mediaId}+'\');'">
                                         <span class="status" th:text="${empruntUser.status}==true?'Oui':'Non'"></span>
                                    </button>
                                </td>
                                <td sec:authorize="hasAnyRole('ROLE_EMPLOYE','ROLE_ADMIN')">
                                    <a th:onclick="'deleteUserMedia(\''+${empruntUser.user.userId} + '\',\''+ ${empruntUser.media.mediaId}+'\');'">Supprimer</a>
                                </td>
                             </tr>
                        </span>


                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>
<script type="text/javascript">
    //btns= document.getElementById("disabled");
    elems=document.getElementsByClassName("status");
    for(let i=0; i<elems.length;i++){
        if(elems[i].textContent=="Oui")
        {
            elems[i].parentElement.setAttribute("disabled", "");
        }
    };


    function deleteUserMedia(userId,mediaId){

        if(confirm("Souhaitez-vous vraiment supprimer ce element ?"))
            window.location.href="user/deleteusermedia/"+userId+"/"+mediaId;
    }

    function retourMedia(userId,mediaId){
        if(confirm("Confirmez-vous le retour de ce Média ?")){

            window.location.href="user/borrowingedit/"+userId+"/"+mediaId;
        }

    }

</script>
