<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">

            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-offset-1 col-lg-4">
                        <h3 class="panel-heading">
                            Inscription
                        </h3>
                        <form  th:action="${action}" th:object="${User}" method="post" class="form-horizontal"role="form">
                            <input type="hidden" th:field="*{userId}"/>
                            <div class="form-group">
                                <label for="typeName" >Nom</label>
                                <div>
                                    <input class="form-control" id="typeName" type="text" th:field="*{userName}" th:placeholder="#{userName}" />
                                    <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Field name has errors</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="typeName" >E-mail</label>
                                <div>
                                    <input class="form-control" id="typeName" type="text" th:field="*{userMail}" th:placeholder="#{userMail}" />
                                    <span th:if="${#fields.hasErrors('userMail')}" th:errors="*{userMail}">Field name has errors</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="typeName" >Mot de Passe</label>
                                <div>
                                    <input class="form-control" id="typeName" type="password" th:field="*{Password}" placeholder="password" />
                                    <span th:if="${#fields.hasErrors('Password')}" th:errors="*{Password}">Field name has errors</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="typeName" >Adresse</label>
                                <div>
                                    <input class="form-control" id="typeName" type="text" th:field="*{userAddress}" th:placeholder="#{userAddress}" />
                                    <span th:if="${#fields.hasErrors('userAddress')}" th:errors="*{userAddress}">Field name has errors</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="typeName" >Téléphone</label>
                                <div>
                                    <input class="form-control" id="typeName" type="text" th:field="*{userPhone}" th:placeholder="#{userPhone}" />
                                    <span th:if="${#fields.hasErrors('userPhone')}" th:errors="*{userPhone}">Field name has errors</span>
                                </div>
                            </div>
                            <div class="form-group" sec:authorize="isAuthenticated()">
                                <div th:if="${#authentication.getPrincipal().getRoles().getRoleName() == 'ADMIN'}">
                                <label for="typeName" >Role</label>
                                <select th:field="*{roles}">
                                    <option th:value="null">Aucun role</option>
                                    <option th:each="role : ${roles}" th:value="${role.roleId}">
                                        <span th:text="${role.roleName}"></span>
                                    </option>
                                </select>
                                <span th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}" />
                                </div>
                            </div>
                            <div sec:authorize="!isAuthenticated()">
                                <input class="form-control" id="roles" type="hidden" name="roles" th:value="${role.roleId}" />
                            </div>
                            <button type="submit" class="btn btn-default">Enregistrer</button>
                            <button type="reset" class="btn btn-default">Annuler</button>
                        </form>
                    </div>
                </div>
                <!-- /.col-lg-6 (nested) -->


                <!-- /. ROW  -->

                <!-- /.col-lg-6 (nested) -->

                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>