<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading"> Client <span class="pull-right smenu"><a th:href="@{/}">Accueil <i class="fa fa-arrow-right"></i></a><a th:href="@{/user}">Utilisateurs </a></span></div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-offset-1 col-lg-8">
                        <p  th:text="${' Nom :        ' + user.userName}"></p>
                                 <p  th:text="${' Email :  ' + user.userMail}"></p>
                                 <p  th:text="${' Adresse :       ' + user.userAddress}"></p>
                                 <p  th:text="${' Téléphone :       ' + user.userPhone}"></p>
                        <div th:if="${user.subscription}">
                            <p><a th:href="@{/subscription/detail(id=${user.subscription.subscriptionId})}">Détail de l'abonnement</a></p>
                        </div>
                    </div>
                </div>
                <div class="row" th:unless="${user.subscription}">
                    <div class="form-group">
                        <form  th:action="@{/user/subscription}" th:object="${User}" method="post" class="form-horizontal"role="form">
                            <input type="hidden" th:field="*{userId}"/>
                            <div class="form-group">
                                <select th:field="*{subscription}">
                                    <option th:value="null">Choisir une inscription</option>
                                    <option th:each="subscription : ${subscriptions}" th:value="${subscription.subscriptionId}"><span th:text="${subscription.titre}"></span></option>
                                </select>
                                <span th:if="${#fields.hasErrors('subscription')}" th:errors="*{subscription}" />
                            </div>
                            <button type="submit" class="btn btn-default">Enregistrer</button>
                            <button type="reset" class="btn btn-default">Annuler</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>