<nav class="navbar navbar-default top-navbar" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" th:href="@{/}"><strong>Médiathèque</strong></a>
    </div>

    <ul class="nav navbar-top-links navbar-right">

        <li sec:authorize="!isAuthenticated()" >
            <a  class="nav-link" th:href="@{/user/add}"><i class="fa fa-dashboard"></i> Inscription</a>
        </li>
        <li sec:authorize="!isAuthenticated()" class="insCon">
            <a class="nav-link" th:href="@{/login}"><i class="fa fa-dashboard"></i> Connexion</a>
        </li>

        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                <div sec:authorize="isAuthenticated()">Bonjour <span th:text ="${#authentication.getPrincipal().getUsername()}"></span><i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i></div>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/user/monCompte(id=${#authentication.getPrincipal().getUserId()})}"><i class="fa fa-user fa-fw"></i> Mon Compte</a>
                </li>
                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Paramètres</a>
                </li>
                <li class="divider"></li>
                <li><a th:href="@{/logout}"><i class="fa fa-sign-out fa-fw"></i> Déconnexion</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
</nav>
<!--/. NAV TOP  -->
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li>
                <a th:class="${AccueilSubscription} ? 'active-menu' : 'nav-link'" th:href="@{/}"><i class="fa fa-dashboard"></i> Accueil</a>
            </li>
            <li sec:authorize="hasAnyRole('ROLE_EMPLOYE','ROLE_ADMIN')">
                <a href="#"><i class="fa fa-list-alt"></i> Média <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">

                    <li>
                        <a  th:class="${urlMedias} ? 'active-menu' : 'nav-link'" th:href="@{/media}"><i class="fa fa-eye"></i> Liste des Médias</a>
                    </li>
                    <li>
                        <a  th:class="${urlMedia} ? 'active-menu' : 'nav-link'" th:href="@{/media/add}"><i class="fa fa-plus"></i>Ajouter un Média</a>
                    </li>

                    <li>
                        <a th:class="${urlMediatype} ? 'active-menu' : 'nav-link'" th:href="@{/mediatype}"><i class="fa fa-paperclip"></i> Type de Média </a>
                    </li>
                </ul>
            </li>
            <li sec:authorize="hasAnyRole('ADMIN','EMPLOYE')">
                <a th:class="${urlUser} ? 'active-menu' : 'nav-link'" th:href="@{/user}"><i class="fa fa-user"></i> Utilisateurs <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a  th:href="@{/user}">utilisateurs</a>
                    </li>
                    <li>
                        <a th:class="${urlRole} ? 'active-menu' : 'nav-link'" th:href="@{/role}"><i class="fa fa-paperclip"></i> Roles </a>
                    </li>
                </ul>
            </li>

            <li >
                <a sec:authorize="isAuthenticated()" th:class="${urlSubscription} ? 'active-menu' : 'nav-link'"  th:href="@{/subscription}"><i class="fa fa-plus"></i> Abonnement</span></a>
            </li>
            <li >
                <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_EMPLOYE')" th:class="${urlSubscriptiontype} ? 'active-menu' : 'nav-link'"  th:href="@{/subscriptiontype}"><i class="fa fa-plus"></i>Type Abonnement</span></a>
            </li>
            <li >
                <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_EMPLOYE')" th:class="${urlBorrowing} ? 'active-menu' : 'nav-link'"  th:href="@{/borrowing}"><i class="fa fa-plus"></i>Emprunts</span></a>
            </li>
            <li >
                <a sec:authorize="hasAnyRole('ROLE_CLIENT')" th:class="${urlMyBorrowing} ? 'active-menu' : 'nav-link'"  th:href="@{/user/myborrowings}"><i class="fa fa-plus"></i>Mes emprunts</span></a>
        </ul>

    </div>

</nav>
<!-- /. NAV SIDE  -->